.find-container{
    display: flex;
    gap: 20px;
   border: 1px solid gray;
     line-height:9px;
   
}

.hotel{
    position: relative;
}

.find-main-container{
    padding: 10px;
    position: relative;
    left: 50px;
    width: max-content;
    box-shadow: 0px 0px 1px black;
    
}
.rooms-info{
    
    display: flex;
    justify-content: space-between;
}
.highlighted {
    background-color: lightblue; 
  }
  .selected {
    background-color: lightgrey; 
  }
  .id6 {
    background-image: url("../logo1.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    min-height:120vh;
    
}
