.locum-reg{
    margin: auto;
    margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    text-align: left;
    width: 30%;
    box-shadow: 1px 1px 2px  2px grey;
    padding:1px;
    padding-bottom: 2px;
}
p{
    display: flex;
    flex-direction: column;
    gap: 5px;
   text-align: left;
   
}
input{
    height: 35px;
    max-width: 300px;
}
 .confirmation-msg {
    color: green;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; 
  }